In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

In [15]:
df = pd.read_csv('new_retail_data.csv')

In [16]:
num_cols = ["Age", "Total_Purchases", "Amount", "Total_Amount", "Ratings"]
scaling_df = df[num_cols].copy()

In [17]:
standard = StandardScaler()
robust = RobustScaler()
minmax = MinMaxScaler()

In [18]:
# StandardScaler: for normally distributed data (Age)
scaling_df["Age_scaled"] = standard.fit_transform(scaling_df[["Age"]])

In [19]:
# RobustScaler: for features with outliers (Total_Purchases, Amount, Total_Amount)
scaling_df[["Total_Purchases_scaled", "Amount_scaled", "Total_Amount_scaled"]] = robust.fit_transform(
    scaling_df[["Total_Purchases", "Amount", "Total_Amount"]]
)

In [20]:
# MinMaxScaler: for bounded scale [1â€“5] (Ratings)
scaling_df["Ratings_scaled"] = minmax.fit_transform(scaling_df[["Ratings"]])

In [21]:
scaling_df.head()

,Age,Total_Purchases,Amount,Total_Amount,Ratings,Age_scaled,Total_Purchases_scaled,Amount_scaled,Total_Amount_scaled,Ratings_scaled
0,21.0,3.0,108.028757,324.086270,5.0,-0.964014,-0.4,-0.602341,-0.450602,1.00
1,19.0,2.0,403.353907,806.707815,4.0,-1.097153,-0.6,0.604142,-0.147309,0.75
2,48.0,3.0,354.477600,1063.432799,2.0,0.833361,-0.4,0.404469,0.014023,0.25
3,56.0,7.0,352.407717,2466.854021,4.0,1.365917,0.4,0.396013,0.895971,0.75
4,22.0,2.0,124.276524,248.553049,1.0,-0.897444,-0.6,-0.535965,-0.498069,0.00